<!--<div class="container mt-5 d-flex justify-content-center">-->
<!--  <ul class="list-group">-->
<!--    <li class="list-group-item">ID: {{getUserDetail.id}}</li>-->
<!--    <li class="list-group-item">User Name: {{getUserDetail.userName}}</li>-->
<!--    <li class="list-group-item">Email: {{getUserDetail.email}}</li>-->
<!--    <li class="list-group-item">Pan: {{getUserDetail.pan}}</li>-->
<!--    <li class="list-group-item">PhoneNumber: {{getUserDetail.phoneNumber}}</li>-->
<!--  </ul>-->
<!--</div>-->



<div class="container mt-5 d-flex justify-content-center">
  <form>
    <h3>UPDATE USER</h3>
    <div class="form-group mt-4">
      <label>ID: {{getUserDetail.id}} </label>
    </div>

    <div class="form-group mt-4">
      <label>User Name:</label>
      <input class="form-control mt-2" value="{{getUserDetail.userName}}">
    </div>

    <div class="form-group mt-4">
      <label>Email: </label>
      <input class="form-control mt-2" value="{{getUserDetail.email}}">
    </div>

    <div class="form-group mt-4">
      <label>Phone Number: </label>
      <input class="form-control mt-2" value="{{getUserDetail.phoneNumber}}">
    </div>

    <div class="form-group mt-2">
      <label>Pan: </label>
      <input class="form-control mt-2" value="{{getUserDetail.pan}}">
    </div>

    <div class="form-group mt-3">
      <input class="btn btn-primary" type="submit" value="submit"/>
    </div>

  </form>
</div>

